<div class="list-group">
    {% for post in dataProviderEntity.collection %}
        <a href="{{ path('web_messenger_chat_view', {id: post.id}) }}" class="list-group-item">
            {{ post.title }}
            {#<span class="badge">{{ post.category.title }}</span>#}
        </a>
    {% endfor %}
</div>