{% extends '@Messenger/base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

    {% include '@Messenger/chat/index.list.html.twig' %}

    <span class="pull-right">
        <a class="btn btn-success" href="{{ path('web_messenger_chat_create') }}">Create</a>
    </span>

    <span>
        {{ pagination(dataProviderEntity) }} &nbsp;
    </span>

{% endblock %}