{% if app.user %}
    <a href="/chat" class="nav-link ">
        <i class="nav-icon fas fa fa-comments"></i>
        Message
        <span class="right badge badge-primary">3</span>
    </a>
{% else %}

{% endif %}